@model IEnumerable<InnBooking.Models.RoomModel>

@{
    ViewBag.Title = "Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Available Room List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoomNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoomNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomDescription)
        </td>
        <td>
            @Html.ActionLink("Book", "Book", new { id=item.RoomNumber })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Back to Bookings", "Index")
</p>